fastapi==0.116.1
uvicorn[standard]==0.35.0

sqlalchemy==2.0.42
alembic==1.16.4
psycopg2-binary==2.9.10
pgvector==0.4.1

pydantic==2.11.7
pydantic-settings==2.10.1

python-dotenv==1.1.1

python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4

langchain==0.3.27
langgraph==0.6.3

google-genai



httpx==0.28.1
python-multipart==0.0.20